go.work

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules/

cdk.out/

# Ignore built Go files in ./bin but keep the infra/bin directories
bin/
!services/*/infra/bin/
